body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
/* -----------Start header area----------*/

.header{
    background-color: #3B5998;
    padding:8px 0px;
}
.header::after{
    content:'';
    clear:both;
    display:block;
}
.container{
    width: 65%;
    margin:0 auto;
    max-width: 1000px;
}
.logo-area{
    width:30%;
    float:left;
}
.logo-area img{
    width:160px;
    margin-top: 20px;
}
.login-area{
    width:70%;
    float:left;
    color:#fff;
    margin-top: 12px;
}
.login-area form{
    float:right;
}
.login-area label, .login-area input{
    display:block;
}
.login-area .email, .login-area .password, .login-area .submit{
    float:left;
    margin-right: 15px;
}
.login-area label{
    font-size: 14px;
    margin-bottom: 5px;
}
.login-area .submit{
    margin-right: 0px;
    font-size: 20px;
}
.login-area input[type="text"], 
.login-area input[type="password"] {
    border:1px solid #000;
    font-size:14px;
    font-weight:300;
    padding:2px 5px;
}
.login-area .password a{
    text-decoration: none;
    color:#9cb4d8;
    font-size:12px;
}
.login-area .password a:hover{
    text-decoration: underline;
}
.login-area input[type="submit"]{
    background-color: #4267b2;
    border:1px solid #29487d;
    color:#fff;
    margin-top:23px;
    padding:3px 8px;
}

/* -----------End header area----------*/
.signup-area{
    padding:25px 0;
    background:linear-gradient(#fff,#E3E6F0);
}
.signup-area::after{
    content:'';
    clear:both;
    display:block;
}
.left-area{
    width:55%;
    float:left;
}
.left-area p{
    color: #0e385f;
    font-size: 20px;
    font-weight:600;
    width:90%;
}
.left-area img{
    width:100%;
}
.right-area{
    width:45%;
    float:left;
}
.right-area h2{
    font-size:36px;
    color:#000;
    margin:0px;
}
.right-area h4{
    font-size: 19px;
    color:#1d2129;
    font-weight:400;
    margin-top:5px;
    margin-bottom:10px;
}
.right-area input[type="text"],
.right-area input[type="password"]{
    width:100%;
    box-sizing: border-box;
    border:1px solid #bdc7d8;
    border-radius:5px;
    font-size:18px;
    padding:8px 10px;
    margin:5px 0px;
}
.full-name{
    overflow:hidden;
}
.first-name{
    width:48%;
    float:left;
    margin-right:4%;
}
.sur-name{
    width:48%;
    float:left;
}
.birthday{

}
.birthday h4{
    line-height: 1.34;
    font-weight: bold;
    color:#90949c;
}
.birth-date{
    overflow:hidden;
    float:left;
    margin-right: 10px;
}
.birth-date select{
    border:1px solid #ccc;
    padding:5px; 
    float: left;   
}
.birth-link{
    float:left;
    width:190px;
}
.birth-link a{
    font-size: 13px;
    display:block;
    line-height: 1.1;
    text-decoration: none;
    color: #385898;
    cursor: pointer;
}
.birth-link a:hover{
    text-decoration: underline;
}
.gender .gender-text{
    margin:10px 0px;
    font-weight: bold;
    color:#90949c;
}
.gender{
    clear: both;
    overflow: hidden;
    width:108%;
}
.gender label{
color: #1d2129;
font-size: 18px;
font-weight: normal;
line-height: 18px;
padding: 0 10px 0 3px;
}
.text-box{
    margin-bottom: 20px;
}
.text-box p{
    font-size:13px;
    color:#777;
    width:80%;
}
.text-box a{
    text-decoration: none;
    color: #385898;
    cursor: pointer;
}
.text-box a:hover{
    text-decoration: none;
}
.btn{
    margin-bottom: 10px;
}
.btn input{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-radius: 3px;
    padding: 7px 20px;
    text-align: center;
    line-height: 126%;
    min-width:194px;
    border-width: 1px;
    color:#fff;
    font-weight: bold;
    font-size:20px;
    transition:0.5s;
    cursor: pointer;
}
.btn input:hover{
    background: linear-gradient(#578843,#67ae55);
    cursor: pointer;
}
.business{
    font-weight: 600;
    color:#666;
}
.business a{
    text-decoration: none;
    color:#385898;
}
.business a:hover{
    text-decoration: none;
}
/* End Sign up area */

.footer-area{
    padding:30px 0px;
}
.footer-area ul{
    margin:0;
    padding:0;
}
.footer-area ul li{
    display: inline;
}
.footer-area ul li a{
    text-decoration: none;
    color:#365899;
    font-size: 13px;
}
.footer-area ul li .active a{
    color:#737373;
}
.footer-area .top ul li{
    margin-right: 8px;
}
.footer-area .middle ul li{
    margin-right: 10px;
}
.footer-area .top ul li:last-child,
.footer-area .bottom ul li:last-child{
    margin-right: 0;
}
.footer-area .top ul li:last-child a {
    border:1px solid #999;
    padding:0px 5px;
}
.footer-area .bottom{
    margin-top: 20px;
}
.footer-area span{
    color:#737373;
    font-size:13px;
}
.footer-area .hr{
    border-bottom:1px solid #dddfe2;
    width: 100%;
    margin-top:5px;
    margin-bottom:5px;
}
.play{
    padding:3px;
}
